@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared style  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    color: #FF900E;
}
.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 0;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}


/* header styles  */
/* navber related style */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar {
justify-content: space-between;
align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner related sytle  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}




/* team and featured related style  */

.teams{
    align-items: center;
   
}


.team-img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

/* feature section  */


#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}


.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}


.features{
    gap: 140px;
}


#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;


}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}


.feature-architecht img{
    width: 100%;
}





#quick{
    font-weight: 500;
}


/* some fadct releted card  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

}

.fact-description{
    max-width: 540px;
}

/* sponser relate  */

.sponsors-infor{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}


.sponsors-companys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsors-companys img{
    filter: grayscale(100%);
}









/* responsive media quary  */



@media screen and (max-width:576px) {

.navbar, .nav-link,
.teams, .features{

flex-direction: column;

}
.team-img-container, .facts-container, .sponsors-companys {
    grid-template-columns: repeat(1,1fr);
}
.facts-container{
    justify-items: center;
    gap: 24px;
}
.sponsors-companys{
    gap: 50px;
    justify-content: center;
}

.our-features {
    margin-left: 20px;
}

#experience-badge{
     margin-top: 20px;
     margin-left: 20px;
}

}



/* medium device  */


@media screen and (min-width:576px) and (max-width:992px) {



    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left:50px auto;
    }

    .sponsors-companys, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    
}